.cara {
    width: 300px;
    height: 419px;
    z-index: 0;
    transform: rotateY(180deg);
    background-size: contain;
    position: absolute;
    z-index: 0;
    transition: all 0.5s;
}

.juego {
    margin: auto;
   
}

#stats {
    margin: auto;
    width: fit-content;
    
}

.reverso {
    background-image: url(../img/reverso.png);
    width: 300px;
    height: 419px;
    background-size: contain;
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
    
}

.carta {
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}


.carta:hover .reverso {
    filter: brightness(70%);
}

.carta {
    width: 300px;
    height: 419px;
    display: inline flow-root;
    margin-top: 3px;
}

.juego {
    width: 1300px;
}

.girada {
    opacity: 1;
    transform: rotateY(180deg);
}

.girada .cara {
    z-index: 1;
}

.girada .reverso {
    z-index: 0;
}


