.animacion .agua {
    position:absolute;
    top: 0%;
    left: 65%;
    background-color: #44dfff;
    animation: chorro 4.5s forwards 1s;
    transform-origin: bottom;
    bottom: 4px;
}

.animacion {
    position:absolute;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%,-50%);
    overflow: unset;
    text-align: center;
}

.animacion div {
    position: relative ;
    overflow: hidden;
    display: inline-flex;
}


img {
    transform: rotateY(180deg);
    position: absolute;
}

.jarra {
    width: 162px;
    height: 271px;
    transform-origin: right top;
    animation: girar 6s forwards;
}

.jarra img {
    width: 100%;
    height: 100%;
}

.vaso {
    width: 98px;
    height: 130px;
}

.jarra .relleno {
    height: 70px;
    transform-origin: bottom;
    width: 100%;
    bottom: 0;
    animation: vaciar 4s forwards 1s;
}

.vaso .relleno {
    height: 0px;
    transform-origin: bottom;
    width: 100%;
    bottom: 0;
    animation: rellenar 4s forwards 1s;
}

.relleno {
    z-index: -1;
}

body {padding: 0%; margin: 0%; overflow: hidden; }

@keyframes vaciar {
    0% {height: 70px;}
    100% {height: 0px;}
}

@keyframes rellenar {
    0% {height: 0px;}
    100% {height: 70px;}
}

@keyframes girar {
    0% {transform: rotate(0deg);left: 0%;}
    50% {transform: rotate(50deg); left: 13%;}
    100% {transform: rotate(0deg);left: 0%;}
}

@keyframes chorro {
    0% { height: 0px; width: 0px;}
    6% { height: 0px; width: 0px;}
    20%{ height: 270px; width: 10px; }
    50%{ height: 270px; width: 10px;}
    100% { height: 0px; width: 10px; top: unset;}
}

