div img{
    position: absolute;
}

div {
    position: relative;
    size: fit-content;
}

.ramen {
    height: 380px;
    width: 500px;
}

.fuego {
    width: 300px;
    margin-left: 50px;
    z-index: -1;
    opacity: 0%;
}

.madera {
    bottom: 0;
}

.hogera {
    width: 421px;
    height: 420px;
}

div:hover .fuego{
    opacity: 100%;
}


div:hover .cocinado {
    opacity: 100%;
    transition: opacity 5s 10s;
}

div:hover .quemado {
    opacity: 100%;
    transition: opacity 5s 20s;
}

.cocinado {
    opacity: 0%;
}

.quemado {
    opacity: 0%;
}


.humo {
    margin-left: 50px;
    margin-top: -40px;
    opacity: 0%;
}

div:hover .humo {
    opacity: 100%;
    transition: opacity 1s 5s;
}


